In [12]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [13]:
Input_DATASET="https://raw.githubusercontent.com/kishan0725/The-Movie-Cinema/master/main_data.csv"
MOVIE_TITLE="movie_title"

In [15]:
INPUT_DATA="https://raw.githubusercontent.com/kishan0725/The-Movie-Cinema/master/main_data.csv"
df=pd.read_csv(INPUT_DATA)

In [16]:
df.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,Animation Comedy Family,toy story,Tom Hanks Tim Allen Don Rickles John Lasseter ...
1,Joe Johnston,Robin Williams,Jonathan Hyde,Kirsten Dunst,Adventure Fantasy Family,jumanji,Robin Williams Jonathan Hyde Kirsten Dunst Joe...
2,Howard Deutch,Walter Matthau,Jack Lemmon,Ann-Margret,Romance Comedy,grumpier old men,Walter Matthau Jack Lemmon Ann-Margret Howard ...
3,Forest Whitaker,Whitney Houston,Angela Bassett,Loretta Devine,Comedy Drama Romance,waiting to exhale,Whitney Houston Angela Bassett Loretta Devine ...
4,Charles Shyer,Steve Martin,Diane Keaton,Martin Short,Comedy,father of the bride part ii,Steve Martin Diane Keaton Martin Short Charles...

In [17]:
MOVIE_TITLE="movie_title"

In [19]:
vectorizer=TfidfVectorizer()
X=vectorizer.fit_transform(df[MOVIE_TITLE])
X

<36987x20088 sparse matrix of type '<class 'numpy.float64'>'
	with 105316 stored elements in Compressed Sparse Row format>

In [26]:
num_movies,unique_words=X.shape
print(f"indexed {num_movies} with {unique_words}")

indexed 36987 with 20088

In [31]:
QUERY='jumanji'
query_vec=vectorizer.transform([QUERY])

In [30]:
result=cosine_similarity(X,query_vec).reshape((-1,))
result

array([0., 1., 0., ..., 0., 0., 0.])

In [36]:
res=result.argsort()[-10:][::-1]
print(res)

[    1 36829 36986 12326 12332 12331 12330 12329 12328 12327]

In [38]:
for i in res:
    print(df.iloc[i,5:6])

movie_title    jumanji
Name: 1, dtype: object
movie_title    jumanji: the next level
Name: 36829, dtype: object
movie_title    news of the world
Name: 36986, dtype: object
movie_title    pekka ja pätkä suezilla
Name: 12326, dtype: object
movie_title    a matter of dignity
Name: 12332, dtype: object
movie_title    jerichow
Name: 12331, dtype: object
movie_title    bart got a room
Name: 12330, dtype: object
movie_title    swades: we, the people
Name: 12329, dtype: object
movie_title    horsemen
Name: 12328, dtype: object
movie_title    don't touch the axe
Name: 12327, dtype: object